@media screen and (max-width: 900px) {
    .breadcrumbs_mobile {
      display: flex;
    }
}

.breadcrumbs_mobile .breadcrumbs__item {
    display: flex;
    justify-content: center;
    align-items: center;
}